name: containers-grpc

on:
  push:
    branches:
      - master

jobs:
  server:
    name: broker
    runs-on: ubuntu-20.04
    env:
      REPO: dazwilkin/akri-http-grpc-broker-golang
    steps:
      - name: checkout
        uses: actions/checkout@v2.3.4
      - name: setup
        uses: docker/setup-buildx-action@v1
      - name: login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR }}
      - name: build-push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./cmd/broker/Dockerfile
          tags: ghcr.io/${{ env.REPO }}:${{ github.sha }}
          push: true
  client:
    name: client
    runs-on: ubuntu-20.04
    env:
      REPO: dazwilkin/akri-http-grpc-client-golang
    steps:
      - name: checkout
        uses: actions/checkout@v2.3.4
      - name: setup
        uses: docker/setup-buildx-action@v1
      - name: login
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR }}
      - name: build-push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./cmd/client/Dockerfile
          tags: ghcr.io/${{ env.REPO }}:${{ github.sha }}
          push: true
